In [1]:
#Initial Imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

# Load .env environment variables
load_dotenv()

True

In [11]:
# Current Amount of Shares 
ADP = 1000
BR = 500
CDK = 950

In [3]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

In [4]:
# Format current date as ISO format
current_date = pd.Timestamp("2021-10-13", tz="America/New_York").isoformat()

In [5]:
# Set the tickers
tickers = ["ADP", "BR", "CDK"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get current closing prices for ADP, BR, and CDK
df_ticker = api.get_barset(
    tickers,
    timeframe,
     limit=1000
).df

# Preview DataFrame
df_ticker

                              ADP                                       \
                             open    high       low   close     volume
time
2017-10-20 00:00:00-04:00  114.88  116.08  114.5600  115.93  1196355.0
2017-10-23 00:00:00-04:00  116.26  117.80  115.4600  117.04  1369623.0
2017-10-24 00:00:00-04:00  116.69  117.30  116.0600  116.47  1115113.0
2017-10-25 00:00:00-04:00  116.28  116.72  115.1400  116.34  1312645.0
2017-10-26 00:00:00-04:00  117.26  117.85  116.7100  117.30  1239847.0
...                           ...     ...       ...     ...        ...
2021-10-07 00:00:00-04:00  206.52  208.81  206.0300  207.57  1211901.0
2021-10-08 00:00:00-04:00  207.92  208.22  205.9400  206.15   840239.0
2021-10-11 00:00:00-04:00  205.50  205.76  203.6300  203.73   674420.0
2021-10-12 00:00:00-04:00  203.79  204.64  203.0100  203.79   783453.0
2021-10-13 00:00:00-04:00  205.18  205.76  202.2511  204.72   488659.0

                               BR                                         \
                             open      high       low    close    volume
time
2017-10-20 00:00:00-04:00     NaN       NaN       NaN      NaN       NaN
2017-10-23 00:00:00-04:00   84.36   84.5900   84.2300   84.330  129523.0
2017-10-24 00:00:00-04:00   84.36   84.7000   84.0700   84.390  194219.0
2017-10-25 00:00:00-04:00   84.40   84.5600   83.7800   84.250  212833.0
2017-10-26 00:00:00-04:00   84.58   85.2900   84.3500   85.109  208794.0
...                           ...       ...       ...      ...       ...
2021-10-07 00:00:00-04:00  167.81  168.9200  167.2600  168.890  427397.0
2021-10-08 00:00:00-04:00  168.99  169.5100  168.4174  168.940  257200.0
2021-10-11 00:00:00-04:00  168.66  169.4784  167.6100  168.330  235422.0
2021-10-12 00:00:00-04:00  169.22  171.4300  168.3400  170.710  370218.0
2021-10-13 00:00:00-04:00  171.07  172.6600  169.7600  172.020  169249.0

                             CDK
                            open     high    low  close    volume
time
2017-10-20 00:00:00-04:00    NaN      NaN    NaN    NaN       NaN
2017-10-23 00:00:00-04:00  65.48  66.2000  65.36  65.58  495816.0
2017-10-24 00:00:00-04:00  65.84  67.0300  65.46  66.99  716572.0
2017-10-25 00:00:00-04:00  66.85  66.9999  65.94  66.05  432138.0
2017-10-26 00:00:00-04:00  66.34  67.2700  66.19  66.67  481536.0
...                          ...      ...    ...    ...       ...
2021-10-07 00:00:00-04:00  43.61  44.1900  43.61  43.74  472480.0
2021-10-08 00:00:00-04:00  43.95  44.2100  43.57  43.64  303559.0
2021-10-11 00:00:00-04:00  43.61  44.0400  43.40  43.40  244871.0
2021-10-12 00:00:00-04:00  43.26  43.8350  43.26  43.76  370162.0
2021-10-13 00:00:00-04:00  43.71  44.2900  43.52  44.12  341204.0

[1002 rows x 15 columns]

In [6]:
# Pick ADP, BR and CDK close prices
ADP_close_price = df_ticker['ADP']['close'][1000]
BR_close_price = df_ticker['BR']['close'][1000]
CDK_close_price = df_ticker['CDK']['close'][1000]

# Print ADP, BR and CDK close prices
print(f"Current ADP closing price: $(adp_close_price)")
print(f"Current BR closing price: $(br_close_price)")
print(f"Current CDK closing price: $(cdk_close_price)")

Current ADP closing price: $(adp_close_price)
Current BR closing price: $(br_close_price)
Current CDK closing price: $(cdk_close_price)

In [12]:
#Compute the current value of shares
adp_value = ADP_close_price * ADP
br_value = BR_close_price * BR
cdk_value = CDK_close_price * CDK

In [15]:
# print current values of shares
print(f"The current value of {ADP} ADP shares is ${adp_value:0.2f}")
print(f"The current value of {BR} BR shares is ${br_value:0.2f}")
print(f"The current value of {CDK} CDK shares is ${cdk_value:0.2f}")

The current value of 1000 ADP shares is $203790.00
The current value of 500 BR shares is $85355.00
The current value of 950 CDK shares is $41572.00

In [17]:
# Calculate Anthon Portfolio Value
anthon_portfolio = adp_value + br_value + cdk_value
print('Anthon portfolio value:', anthon_portfolio)

Anthon portfolio value: 330717.0